.container {
  background: none;
}

.inner-container {
  background: none;
}

.content-container {
  padding: 0;
  border: none;
  background: none;
}

.home-text {
  line-height: 1.3;
  color: #0f2194;
  background-color: #fff;
  font-size: 1.6rem;
}

.home-text a,
.updates-area .read-more a {
  width: 100%;
  border-radius: 0;
  text-align: center;
  border-bottom: 16px solid #fff;
}

.home-text p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.3;
  font-size: 1.6rem;
}

.home-text h2 {
  display: none;
}

.home-text .home-wrap {
  margin: 10px 0;
  border-left: none;
  border-right: none;
}

.home-text a .cp-font-icon {
  margin-left: 142px;
}


/* Slideshow */

.full-width-slide {
  width: auto;
  height: auto;
  display: block;
}

.ps-slideshow {
  margin: 0 auto;
}

.g-descriptions {
  display: block;
}


/* Quicklinks
=============*/

.cp-quicklinks {
  padding: 20px 0;
}

.cp-quicklinks li {
  display: block;
  margin: 8px 0;
}

.cp-quicklinks li span:nth-of-type(2) {
  font-size: 1.9rem;
}


/* Attendance
=============*/

.attendance {
  padding: 25px 0;
  background: #f5f5f5;
}

.cp-attendance {
  width: 205px;
}

.overall-attendance {
  margin: 0 19px;
}

.cp-attendance ul li span:nth-of-type(1) {
  padding-left: 10px;
}

.cp-attendance ul li {
  padding-right: 10px;
}

.cp-attendance ul li span:nth-of-type(1) {
  width: calc(100% - 77px);
}

.cp-attendance ul li span:nth-of-type(2) {
  width: 77px;
}

.attendance-circle span:nth-child(3) {
  width: 117px;
}

.attendance-circle {
  line-height: 1;
}

.attendance-circle {
	height: 190px;
	width: 190px;
	padding-top: 52px;
  line-height: 1;
}


/* Updates Area */

.updates-area {
  background: #add9fe;
  font-size: 1.5rem;
  color: #2f517b;
}

.updates-area li a {
  font-size: 1.7rem;
  color: #000;
  box-sizing: border-box;
  padding: 0 5%;
}

.updates-area li a:focus,
.updates-area li a:hover {
  color: #368a41;
}

.updates-area ul li {
  border-bottom: 10px solid #f5f5f5;
  background: #fff;
}

.updates-area ul li:first-child {
  border-top: 10px solid #f5f5f5;
}

.updates-area .read-more a {
  display: block;
  height: 49px;
  line-height: 49px;
  font-weight: 700;
  color: #fff;
  background: #2f517b;
  transition: ease 0.2s background;
  font-size: 1.7rem;
}

.updates-area .read-more a:focus,
.updates-area .read-more a:hover {
  background: #1f3754;
}

.updates-area .read-more a .cp-font-icon {
  line-height: 44px;
  margin-left: 57px;
  font-size: 2.2rem;
}


/* House Points */

.house-points {
  text-align: center;
  background: #fff;
  padding: 25px 0;
}

.house-points .housename {
  font-size: 1.3rem;
}

.house-points .housenumber {
  font-size: 2.6rem;
  width: 65px;
  height: 32px;
}

.house-points li {
  width: 140px;
  height: 140px;
  padding-top: 34px;
  margin: 5px;
}


/* Revealing Content
====================*/

.bottom-content .cp-content-trigger {
  display: block;
  height: 44px;
  background: #2f517b;
  cursor: pointer;
  transition: ease 0.2s background;
  border-bottom: 1px solid #1f3754;
}

.bottom-content .cp-content-trigger:focus,
.bottom-content .cp-content-trigger:hover {
  background: #1f3754;
}

.bottom-content .cp-icon-wrap {
  position: relative;
  display: block;
  width: 270px;
  height: 100%;
  margin: 0 auto;
  text-align: left;
  color: #fff;
}

.bottom-content .cp-icon-name {
  font-weight: 700;
  font-family: 'Roboto Slab', 'Hoefler Text', Constantia, Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, serif;
  font-size: 1.6rem;
}

.bottom-content .cp-content-wrap {
  line-height: 44px;
}

.bottom-content .cp-icon-wrap::after {
  position: absolute;
  right: 0;
  width: 30px;
  height: 26px;
  text-align: center;
  top: 6px;
  content: '\0048';
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoot
  hing: grayscale;
  font-size: 2.1rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: ease 0.2s transform;
}

.bottom-content .cp-content-trigger.cp-trigger-active .cp-icon-wrap::after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* Hit Counter */

.hit-counter {
  text-align: center;
  padding: 14px 0;
}

.hit-counter-digits,
.hit-counter-post-text {
  display: inline-block;
  vertical-align: bottom;
}


/* Awards */

.awards {
  height: 80px;
  margin: 0 auto;
  background: #fff url(/web/20210915004834im_/https://primarysite-prod.s3.amazonaws.com/theme/LordshipLanePrimarySchool/awards.png) center top no-repeat;
}


/* Additional Media Queries (Images etc.)
====================================== */

@media (max-width: 665px) {
  
  .house-points-list {
    width: 325px;
    margin: 0 auto;
  }
  
  .cp-attendance {
    display: block;
    margin: 10px auto;
  }
  
}

/*
     FILE ARCHIVED ON 00:48:34 Sep 15, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:21:22 Aug 26, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.5
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.009
  esindex: 0.011
  cdx.remote: 62.762
  LoadShardBlock: 125.583 (3)
  PetaboxLoader3.datanode: 207.522 (5)
  load_resource: 171.096
  loaddict: 122.544
*/